@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: 'Microsoft Yahei',微软雅黑,serif,sans-serif;
	color: #666;
}
a{
	text-decoration: none;
	color: #666;
}
a:hover{
	color: #f10180;
}
ul li{
	list-style: none;
}
.cen{
	height: 100%;
	width: 1170px;
	margin: 0 auto;
}
i{
	display: inline-block;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
}
/*i{
	display: inline-block;
	height: 8px;
	width: 8px;
}*/